[submodule "libs/actionbarsherlock"]
	path = libs/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
        ignore = dirty
[submodule "libs/crouton"]
	path = libs/crouton
	url = https://github.com/keyboardsurfer/Crouton.git
        ignore = dirty
[submodule "libs/showcase"]
	path = libs/showcase
	url = https://github.com/Espiandev/ShowcaseView.git
        ignore = dirty
[submodule "libs/facebook"]
	path = libs/facebook
	url = https://github.com/facebook/facebook-android-sdk.git
        ignore = dirty
[submodule "libs/simple-facebook"]
	path = libs/simple-facebook
	url = https://github.com/shkschneider/android-simple-facebook.git
        ignore = dirty
[submodule "libs/volley"]
	path = libs/volley
	url = https://android.googlesource.com/platform/frameworks/volley
        ignore = dirty
