[submodule "libs/actionbarsherlock"]
	path = libs/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs/crouton"]
	path = libs/crouton
	url = https://github.com/keyboardsurfer/Crouton.git
        ignore = dirty
[submodule "libs/showcase"]
	path = libs/showcase
	url = https://github.com/Espiandev/ShowcaseView.git
        ignore = dirty
