<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shkschneider.skeleton.demo">

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission-->
        <!--android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission-->
        <!--android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission-->
        <!--android:name="android.permission.VIBRATE" />-->
    <!--<uses-permission-->
        <!--android:name="android.permission.WAKE_LOCK" />-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission-->
        <!--android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission-->
        <!--android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/skeleton"
        android:name=".MainApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/skeleton">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OverlayActivity"
            android:label="@string/fadingActionBar" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
