<manifest package="me.shkschneider.skeleton"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application android:supportsRtl="true">
        
        <provider
            android:authorities="me.shkschneider.skeleton"
            android:name="me.shkschneider.skeleton.ContextProvider"
            android:exported="false" />

    </application>

</manifest>
